Screen {
    background: #000a00;
    color: #2cff8f;
}

#title {
    background: #001400;
    color: #37ff9f;
    text-style: bold;
    padding: 1 2;
}

.panel {
    border: round #003300;
    background: #000d00;
    padding: 1;
}

#grid {
    grid-size: 2 4;
    grid-gutter: 1 1;
    padding: 1;
}

.alert {
    color: #ffb000;
    border: double #ffb000;
}

Footer, Header {
    background: #001800;
    color: #36ff90;
}

Static {
    color: #2cff8f;
}

